<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/tablenew.css">
<link rel="stylesheet" type="text/css" href="/styles/page.css">
<link rel="stylesheet" type="text/css" href="/styles/landing.css">
</head>
<body>
<div class="applicationname">NIMO</div>
<% include nav.ejs %>
		<div class="mainpagediv">
			<div class="iconlink" onclick="location.href='/incident';" style="cursor:pointer;"><img class="icons" src="/images/Incident.png"\><h1>Incident</h1></div>
			<div class="iconlink" onclick="location.href='/map';" style="cursor:pointer;"><img class="icons" src="/images/Map.png" \><h1>Map</h1></div>
			<div class="iconlink" onclick="location.href='/pillar';" style="cursor:pointer;"><img class="icons" src="/images/Pillar.png" \><h1>Pillar</h1></div>
			<div class="iconlink" onclick="location.href='/cable';" style="cursor:pointer;"><img class="icons" src="/images/Cable.png" \><h1>Cable</h1></div>
			<div class="iconlink" onclick="location.href='/chassis';" style="cursor:pointer;"><img class="icons" src="/images/Chassis.png" \><h1>Chassis</h1></div>
			<div class="iconlink" onclick="location.href='/card';" style="cursor:pointer;"><img class="icons" src="/images/Card.png" \><h1>Card</h1></div>
		</div>
</div>
</body>
</html>
