<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/tablenew.css">
<link rel="stylesheet" type="text/css" href="/styles/page.css">
<link rel="stylesheet" type="text/css" href="/styles/landing.css">
</head>
<body>
<% include nav.ejs %>
		<div class="mainpagediv">
			<div class="iconlink" onclick="location.href='/incident';" style="cursor:pointer;"><img class="icons" src="/images/logo.png"\><h1 style="font-size:15px">Incident</h1></div>
			<div class="iconlink" onclick="location.href='/map';" style="cursor:pointer;"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">Map</h1></div>
			<div class="iconlink" onclick="location.href='/pillar';" style="cursor:pointer;"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">Pillar</h1></div>
			<div class="iconlink" onclick="location.href='/cable';" style="cursor:pointer;"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">Cable</h1></div>
			<div class="iconlink" onclick="location.href='/chassis';" style="cursor:pointer;"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">Chassis</h1></div>
			<div class="iconlink" onclick="location.href='/card';" style="cursor:pointer;"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">Card</h1></div>
		</div>
</div>
</body>
</html>
