<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/tablenew.css">
<link rel="stylesheet" type="text/css" href="/styles/page.css">
<link rel="stylesheet" type="text/css" href="/styles/landing.css">
</head>
<body>
<% include nav.ejs %>
		<div class="mainpagediv">
			<div class="iconlink"><img class="icons" src="/images/logo.png"\><h1 style="font-size:15px">chassis</h1></div>
			<div class="iconlink"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">card</h1></div>
			<div class="iconlink"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">cable</h1></div>
			<div class="iconlink"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">pillar</h1></div>
			<div class="iconlink"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">map</h1></div>
			<div class="iconlink"><img class="icons" src="/images/logo.png" \><h1 style="font-size:15px">incident</h1></div>
		</div>
</div>
</body>
</html>
