<div style="width:5%;float:left;">
        <img src="/images/nbn.png" alt="Smiley face" height="20%" width="90%">
        <a href="#" class="navbar"></a>
        <a href="/incident" class="navbar">Incident</a>
        <a href="/map" class="navbar">Map</a>
        <a href="/pillar" class="navbar">Pillar</a>
        <a href="/cable" class="navbar">Cable</a>
        <a href="/chassis" class="navbar">Chassis</a>
        <a href="/card" class="navbar">Card</a>
</div>

