<div class="navdiv">
        <img class="logo" src="/images/nbn.png" alt="Smiley face">
        <a href="#" class="navbar" style="visibility: hidden"></a>
        <a id="incident" href="/incident" class="navbar">Incident</a>
        <a id="map" href="/map" class="navbar">Map</a>
        <a id="pillar" href="/pillar" class="navbar">Pillar</a>
        <a id="cable" href="/cable" class="navbar">Cable</a>
        <a id="chassis" href="/chassis" class="navbar">Chassis</a>
        <a id="card" href="/card" class="navbar">Card</a>
</div>

