<div style="width:5%;float:left;">
        <img src="/images/nbn.png" alt="Smiley face" height="20%" width="90%">
        <a href="/pillar" class="w3-bar-item w3-button">Pillar</a>
        <a href="/cable" class="w3-bar-item w3-button">Cable</a>
        <a href="/chassis" class="w3-bar-item w3-button">Chassis</a>
        <a href="/card" class="w3-bar-item w3-button">Card</a>
</div>

